*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 34px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.link-animate a {
    position: relative;
}

.link-animate a::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #bd93f9;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
}

.link-animate a:hover::before {
    transform: scaleX(1);
}
