---
// types
import { Education } from '../../ts/types'

// sanity client & query
import { client } from '../../lib/sanity'
import { education as query } from '../../ts/queries'

// fetch featured projects from sanity.io
const response = await client.fetch(query)
const education: Education[] = response
---

<div class="flex w-full flex-col gap-4">
    <div class="mb-1">
        <h1
            class="mb-2 text-center text-xl uppercase text-purple-600 dark:text-purpleDark md:text-left md:text-2xl"
        >
            Education
        </h1>

        <div class="flex w-full flex-col">
            {
                education.map((school) => (
                    <>
                        <div class="text-md mb-1 w-full border-b pb-2 md:text-lg">
                            <div class="flex flex-col justify-between md:flex-row">
                                <div class="flex flex-col gap-0 md:flex-row md:gap-1">
                                    <p class="flex gap-1">
                                        <b>{school.school}</b>{' '}
                                        <span class="hidden md:block">|</span>{' '}
                                    </p>
                                    <p>
                                        <em>{school.degree}</em>
                                    </p>
                                </div>
                                {school.displayDate && (
                                    <span class="dark:text-purpleDark hidden text-purple-600 md:block">
                                        {' '}
                                        {new Date(
                                            school.dateEarned
                                        ).getFullYear()}
                                    </span>
                                )}
                            </div>
                            {school.details && (
                                <ul class="dark:marker:text-purpleDark ml-6 mt-2 list-outside list-disc marker:text-purple-600 md:mt-0">
                                    {school.details.map((detail: string) => (
                                        <li>{detail}</li>
                                    ))}
                                </ul>
                            )}
                        </div>
                    </>
                ))
            }
        </div>
    </div>
</div>
