---
// types
import { Experience } from '../../ts/types'

// sanity client & query
import { client, professionalExperience as query } from '../../lib/sanity'

// fetch featured projects from sanity.io
const response = await client.fetch(query)
const experience: Experience = response[0].professionalExperience[0]
---

<div class="mb-8 flex w-full flex-col gap-4">
    <div class="mb-1">
        <h1
            class="mb-2 text-center text-xl uppercase text-purple-600 dark:text-purpleDark md:text-start md:text-2xl"
        >
            Professional Experience
        </h1>

        <div
            class="flex flex-col rounded border border-neutral-200 dark:border-gray-900"
        >
            <div
                class="text-md mb-2 flex w-full flex-col justify-between border-b border-neutral-200 bg-neutral-100 p-4 dark:border-gray-900 dark:bg-gray-900/25 md:flex-row md:text-lg"
            >
                <p class="text-center md:text-left">
                    <b>{experience.position}</b> |
                    <a href={experience.companyURL} target="_blank">
                        <em> {experience.company}</em>
                    </a>
                </p>
                <div
                    class="flex justify-center text-purple-600 dark:text-purpleDark md:justify-start"
                >
                    {new Date(experience.startDate).getFullYear()} -{' '}
                    {
                        experience.endDate
                            ? new Date(experience.endDate).getFullYear()
                            : 'Present'
                    }
                </div>
            </div>
            <div class="flex flex-col p-4">
                <ul
                    class="text-md ml-6 list-outside list-disc marker:text-purple-600 dark:marker:text-purpleDark md:text-lg"
                >
                    {
                        experience.accomplishments.map(
                            (accomplishment, index) =>
                                index !== 0 && <li>{accomplishment}</li>
                        )
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
