---
// components
import TechnicalProjectCard from './TechnicalProjectCard.astro'

// types
import { TechnicalProjects } from '../../ts/types'

// sanity client & query
import { client, technicalProjects as query } from '../../lib/sanity'

// fetch featured projects from sanity.io
const response = await client.fetch(query)
const resume: TechnicalProjects = response[0]
---

<div class="mb-8 flex w-full flex-col gap-4">
    <div class="mb-1">
        <h1
            id="technicalProjects"
            class="mb-2 text-center text-xl uppercase text-purple-600 dark:text-purpleDark md:text-left md:text-2xl"
        >
            Technical Projects
        </h1>
        <div class="flex flex-col gap-2">
            {
                resume.projects.map((project: any) => (
                    <TechnicalProjectCard project={project} />
                ))
            }
        </div>
    </div>
</div>
