@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.3rem;
    --devto-fill: #ffffff;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
    --devto-fill: #000000;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply overflow-y-scroll bg-background text-foreground;
  }

  html {
    @apply scroll-smooth;
  }

  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight md:text-5xl;
  }

  h2 {
    @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0;
  }

  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }

  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }

  p {
    @apply mb-6 leading-7 [&:not(:first-child)]:mt-6;
  }

  blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }

  svg {
    @apply fill-current;
  }

  ul {
    @apply my-6 ml-6 list-disc marker:text-primary [&>li]:mt-2;
  }

  ol {
    @apply my-6 ml-6 list-decimal marker:text-primary [&>li]:mt-2;
  }
}

@layer components {
  .hamburger {
    @apply relative h-6 w-6 cursor-pointer transition-all duration-300;
  }

  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    @apply absolute left-[5px] top-[5px] h-[2px] w-6 rotate-0 transition-transform duration-500;
  }
  .hamburger-middle {
    @apply translate-y-[7px] transform;
  }

  .hamburger-bottom {
    @apply translate-y-3.5 transform;
  }
}

/* markdown code block */

[data-rehype-pretty-code-figure] pre {
  @apply overflow-auto rounded-lg p-2;
}

[data-rehype-pretty-code-figure] code {
  @apply my-1 border-0 text-sm !leading-normal shadow-xl md:text-base;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] {
  counter-reset: line;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply mr-4 inline-block w-4 text-right text-gray-500;
}

[data-rehype-pretty-code-figure] [data-line] {
  @apply border-l-2 border-l-transparent px-3;
}

[data-rehype-pretty-code-figure] [data-highlighted-line] {
  background: rgba(200, 200, 255, 0.1);
  @apply border-l-blue-400;
}

[data-rehype-pretty-code-figure] [data-highlighted-chars] {
  @apply rounded bg-zinc-600/50;
  box-shadow: 0 0 0 4px rgb(82 82 91 / 0.5);
}

[data-rehype-pretty-code-figure] [data-chars-id] {
  @apply border-b-2 p-1 shadow-none;
}

.subheading-anchor {
  @apply relative text-foreground no-underline;
}

.subheading-anchor::before {
  content: ''; /* Initial state has no content. */
  position: absolute;
  left: -30px; /* Adjust as needed to place the hashtag to the left. */
  top: 0; /* Align with the top of the anchor. */
  opacity: 0; /* Make it invisible initially. */
  transition: opacity 0.2s; /* Smooth transition for the hover effect. */
}

.subheading-anchor:hover::before {
  content: '#'; /* The content to show on hover. */
  opacity: 1; /* Make the hashtag visible on hover. */
  @apply text-muted-foreground/40;
}

.mdx
  a:not(
    body
      > div.flex.flex-col.items-center
      > div
      > main
      > article
      > div.mdx
      > div
      a,
    .subheading-anchor
  ) {
  @apply text-primary hover:underline;
}
