---
import Layout from '../layouts/Layout.astro'
import About from '../components/About.astro'
import Tech from '../components/Tech.astro'
import Contact from '../components/Contact.astro'
import FeaturedProjects from '../components/FeaturedProjects.astro'

// Sanity CMS client and query
import { client } from '../js/client'
import { siteSettings as query } from '../ts/queries'

// Types
import { Settings } from '../ts/types'

export const prerender = true

// fetch site settings from sanity.io
const response: Settings = await client.fetch(query)
const siteSettings = response[0]
---

<Layout>
    <main class="flex flex-col justify-center md:px-10 lg:px-0">
        <div class="mx-auto flex max-w-3xl flex-col">
            <div>
                <div
                    class="flex flex-row flex-wrap-reverse justify-center sm:mt-0 md:mt-10 md:flex-nowrap"
                >
                    <About />
                </div>
                <div class="flex w-full flex-col">
                    <Tech />
                    {siteSettings.showProjects && <FeaturedProjects />}
                </div>
            </div>
            <Contact showProjects={siteSettings.showProjects} />
        </div>
    </main>
</Layout>
