---
import Layout from '../layouts/Layout.astro'
import About from '../components/About.astro'
import Tech from '../components/Tech.astro'
import Contact from '../components/Contact.astro'
import Projects from '../components/Projects.astro'
import { client } from '../js/client'
import { siteSettings as query } from '../ts/querries'

interface Settings {
    navigation: string[]
    profilePicture: string
    showProjects: boolean
}

// fetch site settings from sanity.io
const fetchSiteSettings: Settings = await client.fetch(query)
const siteSettings = fetchSiteSettings[0]
---

<Layout>
    <main class="flex flex-col justify-center md:px-10 lg:px-0">
        <div class="mx-auto flex max-w-3xl flex-col">
            <div>
                <div
                    class="flex flex-row flex-wrap-reverse justify-center md:mt-10 md:flex-nowrap"
                >
                    <About
                        profilePicture={siteSettings.profilePicture}
                    />
                </div>
                <div class="flex flex-col">
                    <Tech />
                    {siteSettings.showProjects && <Projects />}
                </div>
            </div>
            <Contact showProjects={siteSettings.showProjects}/>
        </div>
    </main>
</Layout>
