---
// layout
import Layout from '../layouts/Layout.astro'

// components
import About from '../components/About.astro'
import TechSkills from '../components/TechSkills/TechSkills'
import Contact from '../components/Contact.astro'
import FeaturedProjects from '../components/FeaturedProjects/FeaturedProjects.astro'

// types
import { Settings } from '../ts/types'

// sanity client and query
import { client } from '../lib/sanity'
import { siteSettings as query } from '../ts/queries'

// fetch site settings from sanity.io
const response: Settings = await client.fetch(query)
const siteSettings = response[0]
---

<Layout>
    <main class="flex flex-col justify-center md:px-10 lg:px-0">
        <div class="mx-auto flex max-w-3xl flex-col">
            <div>
                <div
                    class="flex flex-row flex-wrap-reverse justify-center sm:mt-0 md:mt-10 md:flex-nowrap"
                >
                    <About />
                </div>
                <div class="flex w-full flex-col px-10 md:px-0">
                    <h1
                        class="mb-3 mt-16 text-center text-2xl md:text-4xl text-purpleDark w-full bg-bgDark rounded p-2 dark:bg-gray-900"
                    >
                        Technical Skills
                    </h1>
                    <TechSkills client:only />
                    {siteSettings.showProjects && <FeaturedProjects />}
                </div>
                <Contact showProjects={siteSettings.showProjects} />
            </div>
        </div>
    </main>
</Layout>
