---
import Layout from '../layouts/Layout.astro'
import About from '../components/About.astro'
import Tech from '../components/Tech.astro'
import Contact from '../components/Contact.astro'
---

<Layout>
    <main class="flex flex-col justify-center md:px-10 lg:px-0">
        <div class="mx-auto flex max-w-3xl flex-col">
            <div>
                <div
                    class="flex flex-row flex-wrap-reverse justify-center md:mt-10 md:flex-nowrap"
                >
                    <About />
                </div>
                <div class="flex flex-col">
                    <Tech />
                </div>
            </div>
            <Contact />
        </div>
    </main>
</Layout>
