---
import Layout from '../layouts/Layout.astro'
import { client } from '../lib/sanity'
import { resume as query } from '../ts/queries'

import { Linkedin, GitHub, ArrowIcon, Download, PDF } from '../components/icons'

const response = await client.fetch(query)
const resumeURL = response[0].resumeURL
---

<Layout title="resumé | Chris Nowicki">
    <main class="flex flex-col sm:mt-4 md:mt-10 md:px-10 lg:px-0">
        <div class="mx-auto flex w-full max-w-3xl flex-col sm:px-10 md:px-0">
            <div class="mb-4 text-center text-xl md:text-left">
                <h1 class="text-4xl">Chris Nowicki</h1>
                <a
                    href="mailto:chris@chrisnowicki.io"
                    class="ml-1 text-purple-600 hover:underline dark:text-purpleDark"
                >
                    chris@chrisnowicki.io</a
                > | 949.547.6356
            </div>

            <!-- links and resume download -->
            <div
                class="mb-12 flex w-full flex-col items-center gap-4 md:flex-row"
            >
                <!-- linkedin -->
                <a
                    href={`${resumeURL}?dl=`}
                    class="flex w-3/4 items-center justify-between rounded-md border border-neutral-200 p-4 hover:bg-neutral-100 dark:border-neutral-900/50 hover:dark:bg-neutral-900/20 md:w-full"
                >
                    <div class="flex items-center gap-2">
                        <PDF size={24} />
                        Download Resumé
                    </div>
                    <Download size={24} />
                </a>
                <!-- linkedin -->
                <a
                    href="http://www.linkedin.com/in/chris-nowicki"
                    class="flex w-3/4 items-center justify-between rounded-md border border-neutral-200 p-4 hover:bg-neutral-100 dark:border-neutral-900/50 hover:dark:bg-neutral-900/20 md:w-full"
                    target="_blank"
                >
                    <div class="flex items-center gap-2">
                        <Linkedin size={24} />
                        Linkedin
                    </div>
                    <ArrowIcon size={12} />
                </a>
                <!-- linkedin -->
                <a
                    href="https://github.com/chris-nowicki"
                    class="flex w-3/4 items-center justify-between rounded-md border border-neutral-200 p-4 hover:bg-neutral-100 dark:border-neutral-900/50 hover:dark:bg-neutral-900/20 md:w-full"
                    target="_blank"
                >
                    <div class="flex items-center gap-2">
                        <GitHub size={24} />
                        GitHub
                    </div>
                    <ArrowIcon size={12} />
                </a>
            </div>

            <div class="flex w-full flex-col gap-4">
                <!-- technical skills -->
                <div class="mb-4">
                    <h1
                        class="text-xl font-bold uppercase text-purple-600 dark:text-purpleDark md:text-2xl"
                    >
                        Technical Skills
                    </h1>
                    <p class="text-md md:text-lg">
                        <b>Languages:</b> JavaScript, TypeScript, Python, HTML, CSS
                        <b class="text-purple-600 dark:text-purpleDark">|</b>
                        <b>Frameworks/Libraries:</b> React, Next.js, Astro, Express,
                        Node.js, Vite, Bootstrap, Tailwindcss, Material UI, Sass,
                        React Markdown, remark <b
                            class="text-purple-600 dark:text-purpleDark">|</b
                        >
                        <b>Databases:</b> MongoDB, MySQL, Prisma ORM <b
                            class="text-purple-600 dark:text-purpleDark">|</b
                        >
                        <b>Tools:</b> Sanity CMS, AWS (EC2/S3), Vercel, VS Code,
                        Git, Github, JSON, Postman, MySQL Workbench, REST API, JIRA,
                        Mac OS X, Linux, iTerm2, starship cross-shell prompt
                    </p>
                </div>

                <!-- technical projects -->
                <div class="text-md mb-4 md:text-lg">
                    <h1
                        class="text-xl font-bold uppercase text-purple-600 dark:text-purpleDark md:text-2xl"
                    >
                        Technical Projects
                    </h1>
                    <div class="mb-2">
                        <p class="text-lg">
                            <b>In-Browser Markdown Editor</b> | <em
                                >Developer</em
                            > |
                            <a
                                href="https://markdown.chrisnowicki.io"
                                class="text-purple-600 hover:underline"
                                target="_blank"
                                >https://markdown.chrisnowicki.io</a
                            >
                        </p>
                        <p>
                            <em
                                >Full-Stack In-Browser Markdown Editor developed
                                with Next.js, auth0, MongoDB, and Sass</em
                            >
                        </p>
                        <ul
                            class="text-md ml-6 list-outside list-disc marker:text-purple-600 dark:marker:text-purpleDark md:text-lg"
                        >
                            <li>
                                Continued to develop TypeScript knowledge to
                                help develop better code with fewer errors
                            </li>
                            <li>
                                Integrated authentication using auth0 to
                                securely connect users to their markdown files
                            </li>
                            <li>
                                Connected app with MongoDB Atlas to store user
                                information and markdown documents
                            </li>
                            <li>
                                Utilized React Markdown and remark-gfm libraries
                                to parse and display markdown as HTML
                            </li>
                        </ul>
                    </div>
                    <div class="mb-4">
                        <p class="text-lg">
                            <b>Pomodoro App</b> | <em>Developer</em> |
                            <a
                                href="https://pomodoro.chrisnowicki.io"
                                class="text-purple-600 hover:underline"
                                target="_blank"
                                >https://pomodoro.chrisnowicki.io</a
                            >
                        </p>
                        <p>
                            <em
                                >Pomodoro Productivity Timer built with Vite,
                                React, TypeScript, and Sass</em
                            >
                        </p>
                        <ul
                            class="text-md ml-6 list-outside list-disc marker:text-purple-600 dark:marker:text-purpleDark md:text-lg"
                        >
                            <li>
                                Developed a custom useActive hook to check which
                                settings button is currently active for styling
                            </li>
                            <li>
                                Created a Sass Mixin for media query breakpoints
                                for efficiency in development using modular
                                front-end style code
                            </li>
                            <li>
                                Integrated the React Native Countdown Circle
                                Timer for a smooth countdown circle animation
                            </li>
                        </ul>
                    </div>
                    <div class="mb-4">
                        <p class="text-lg">
                            <b>AWS S3 get-put-delete</b> | <em>Developer</em> |
                            <a
                                href="https://github.com/chris-nowicki/aws-s3-get-put-delete"
                                class="text-purple-600 hover:underline"
                                target="_blank"
                                >https://github.com/chris-nowicki/aws-s3-get-put-delete</a
                            >
                        </p>
                        <p>
                            <em
                                >Project for learning how to use Amazon S3
                                Buckets for storing, retrieving, and deleting
                                images in applications</em
                            >
                        </p>
                        <ul
                            class="text-md ml-6 list-outside list-disc marker:text-purple-600 dark:marker:text-purpleDark md:text-lg"
                        >
                            <li>
                                Integrated the AWS SDK in the backend to
                                retrieve the S3 upload promise url
                            </li>
                            <li>
                                Programmed uploading, retrieving, and deleting
                                of images from the front-end using the upload
                                promise url
                            </li>
                            <li>
                                Implemented user Authentication using JSON Web
                                Tokens to ensure user is logged in to retrieve
                                promise url
                            </li>
                            <li>
                                Utilized server-side form validations to ensure
                                proper user information is entered during
                                registration and login
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- professional experience -->
                <div class="text-md mb-4 md:text-lg">
                    <h1
                        class="text-xl font-bold uppercase text-purple-600 dark:text-purpleDark md:text-2xl"
                    >
                        Professional Experience
                    </h1>
                    <p>
                        <b>Sr. Manager, Technical Training</b> | <em
                            >Raytheon Technologies</em
                        >
                    </p>
                    <ul
                        class="ml-6 list-outside list-disc marker:text-purple-600 dark:marker:text-purpleDark"
                    >
                        <li>
                            Executed the development of 3D gaming product lines
                            and Computer Based Training for customer training
                            programs
                        </li>
                        <li>
                            Managed a staff of 15+ employees ensuring supported
                            programs are executed within department standards
                        </li>
                        <li>
                            Grew the annual budget from ~$2.5M to ~$5.4M by
                            identifying gaps in funding to support delivery of
                            final products
                        </li>
                        <li>
                            Successfully negotiated a milestone payment of
                            $17.5M through daily meetings overseas with a 4 star
                            general
                        </li>
                        <li>
                            Led the development of a new innovative product line
                            that contributed to a US Army contract award
                        </li>
                        <li>
                            Coordinated software licenses and purchasing for the
                            department saving $400K a year on unused licenses
                        </li>
                        <li>
                            Created system administration technical
                            documentation for air defense computer systems
                        </li>
                        <li>
                            Trained over three hundred US Air Force and Foreign
                            Militaries covering system administration and
                            maintenance of defense computer systems with an
                            average performance rating of 95%
                        </li>
                    </ul>
                </div>

                <!-- Education -->
                <div class="mb-4">
                    <h1
                        class="text-xl font-bold uppercase text-purple-600 dark:text-purpleDark md:text-2xl"
                    >
                        Education
                    </h1>

                    <!-- education history item start -->
                    <div class="flex w-full justify-between border-b pb-2">
                        <div class="text-md mb-1 w-full md:text-lg">
                            <p>
                                <b>Coding Dojo</b> | <em
                                    >Full-Stack Developer Certificate</em
                                >
                            </p>
                            <ul
                                class="ml-6 list-outside list-disc marker:text-purple-600 dark:marker:text-purpleDark"
                            >
                                <li>
                                    Immersive Full-Stack Training Program in <span
                                        class="text-purple-600 dark:text-purpleDark"
                                        >Python</span
                                    > and <span
                                        class="text-purple-600 dark:text-purpleDark"
                                        >MERN</span
                                    >
                                </li>
                            </ul>
                        </div>
                        <span
                            class="font-bold text-purple-600 dark:text-purpleDark"
                            >2022</span
                        >
                    </div>
                    <!-- education history item end -->

                    <!-- education history item start -->
                    <div class="mt-1 flex w-full justify-between border-b pb-2">
                        <div>
                            <p class="text-md md:text-lg">
                                <b>Greenville College</b> | <em
                                    >Bachelors in Digital Media</em
                                > | Greenville, IL
                            </p>
                        </div>
                    </div>
                    <!-- education history item end -->

                    <!-- education history item start -->
                    <div class="mt-1 flex w-full justify-between">
                        <div>
                            <p class="text-md md:text-lg">
                                <b>Champlain College</b> | <em
                                    >Associates in Network Administration & PC
                                    Support</em
                                > | Burlington, VT
                            </p>
                        </div>
                    </div>
                    <!-- education history item end -->
                </div>
            </div>
        </div>
    </main>
</Layout>
