---
import Layout from '../layouts/Layout.astro'
import Resume from '../components/Resume/Resume'
---

<Layout title="resumé | Chris Nowicki">
    <main class="flex flex-col sm:mt-4 md:mt-10 md:px-10 lg:px-0">
        <Resume client:load/>
    </main>
</Layout>
