---
// icons
import { GitHub, OpenOutline } from '../icons'

export interface Props {
    url: string
    icon: string
    name: string
}

const { url, icon, name } = Astro.props
---

<a
    href={url}
    class="hover:bg-purple-60 flex w-1/3 items-center justify-center rounded border border-purpleDark p-1 text-textDark hover:bg-purpleDark md:w-1/2"
    target="_blank"
>
    {icon == 'github' ? <GitHub size={16} /> : <OpenOutline size={16} />}
    <span class="text-md ml-2">{name}</span>
</a>
