---
import ThemeToggle from './ThemeToggle'
import { client } from '../../lib/sanity'
import { links as query } from '../../ts/queries'
import { getLinks, Links } from '../../ts/types'

import { ArrowIcon, PDF } from '../icons'

// fetch navigation links from sanity.io
const response: getLinks = await client.fetch(query)
const links: Links[] = response[0].links
const showResume = response[0].showResume
---

<div id="home" class="mb-6 flex flex-col items-center">
    <nav
        class="flex w-full max-w-3xl flex-row items-center justify-between pt-4 pb-4 sm:px-10 sm:shadow md:px-0 md:shadow-none"
    >
        <!-- menu -->
        <div class="items-center sm:hidden md:flex">
            {
                links.map(
                    (link) =>
                        link.show && (
                            <a
                                href={link.reference}
                                class={`dark:text-textDark dark:hover:text-purpleDark mr-4 text-xl hover:text-purple-600 `}
                            >
                                {link.title}
                            </a>
                        )
                )
            }
        </div>

        <!-- hamburger icon -->
        <button
            class="hamburger block shadow-2xl focus:outline-none md:hidden"
            id="menu-btn"
        >
            <span class="hamburger-top bg-black dark:bg-textDark"></span>
            <span class="hamburger-middle bg-black dark:bg-textDark"></span>
            <span class="hamburger-bottom bg-black dark:bg-textDark"></span>
        </button>

        <!-- mobile menu -->
        <div class="md:hidden">
            <div
                id="menu"
                class="absolute left-6 right-6 z-10 mt-10 hidden flex-col items-center space-y-2 self-end bg-bgDark py-4 text-textDark drop-shadow-md dark:bg-gray-900 sm:w-auto sm:self-center"
            >
                {
                    links.map(
                        (link) =>
                            link.show && (
                                <a
                                    href={link.reference}
                                    class="text-textDark hover:text-purpleDark text-xl"
                                >
                                    {link.title}
                                </a>
                            )
                    )
                }
            </div>
        </div>

        <!-- sun:moon icon button for dark:light theme -->
        <div class="flex flex-row items-center justify-center gap-4">
            <ThemeToggle client:only />
            <!-- resume link -->
            {
                showResume && (
                    <div class="flex flex-row">
                        <a
                            href="/resume"
                            class={`dark:text-textDark flex w-full items-center justify-between rounded-lg border border-neutral-200 px-4 py-2 text-lg hover:bg-neutral-100`}
                        >
                            <div class="mr-6 flex items-center gap-2">
                                <PDF size={24} />
                                resumé
                            </div>
                            <ArrowIcon size={12} />
                        </a>
                    </div>
                )
            }
        </div>
    </nav>
</div>

<script is:global>
    const btn = document.getElementById('menu-btn')
    const nav = document.getElementById('menu')

    btn.addEventListener('click', () => {
        btn.classList.toggle('open')
        nav.classList.toggle('flex')
        nav.classList.toggle('hidden')
    })
</script>
