---
import { Image } from '@astrojs/image/components'
import { Icon } from 'astro-icon'
import { urlFor } from '../util/imageBuilder'

export interface Props {
    profilePicture: string
}

const { profilePicture } = Astro.props
---

<!-- about me section -->
<div class="flex w-full flex-col items-center text-xl md:mr-6 md:items-start">
    <p class="mb-3 md:mt-0 md:text-3xl">
        Hello, I'm <span class="text-purple-600 dark:text-purpleDark"
            >Chris Nowicki</span
        >.
    </p>
    <p class="px-10 text-center md:px-0 md:text-left">
        I'm a technology nerd who lives on coffee ☕️, obsessed with
        cheeseburgers 🍔, and tinkers with new tech on a daily basis.
    </p>
    <p class="mt-4 px-10 text-center md:mr-4 md:px-0 md:text-left">
        I excel at bringing web designs to life and am passionate about backend
        development.
    </p>
    <p class="mt-4 px-10 text-center md:mr-4 md:px-0 md:text-left">
        I'm currently looking for a new role as a full-stack engineer. <span
            class="text-purple-600 dark:text-purpleDark">Hire me!</span
        >
    </p>
    <div class="flex flex-row">
        <a
            href="http://www.linkedin.com/in/chris-nowicki"
            class="mt-8 mr-4 flex items-center gap-2 rounded border border-blue-600 px-4 py-2 text-2xl text-blue-600 hover:bg-blue-600 hover:text-white dark:border-textDark dark:text-textDark dark:hover:bg-textDark dark:hover:text-bgDark"
            target="_blank"
        >
            <Icon size={24} name="linkedin" />
            Linkedin</a
        >
        <a
            href="https://github.com/chris-nowicki"
            class="mt-8 flex items-center gap-2 rounded border border-black px-4 py-2 text-2xl hover:bg-black hover:text-white dark:border-purpleDark dark:text-purpleDark dark:hover:bg-purpleDark dark:hover:text-textDark"
            target="_blank"><Icon size={24} name="github" />Github</a
        >
    </div>
</div>

<!-- about me image -->
<div class="sm:mb-4 md:mb-0 flex w-[400px] flex-col items-center md:mt-0 md:ml-6">
    <Image
        src={urlFor(profilePicture).url()}
        format="webp"
        width={246}
        height={246}
        aspectRatio={1.666}
        class="rounded-full shadow-xl"
        alt="chris nowicki's profile picture"
        loading="eager"
    />
</div>
