<div
    id="contact"
    class="mt-10 flex w-full flex-col items-center justify-center lg:mt-20"
>
    <div class="flex w-3/4 flex-col items-center">
        <h1 class="mb-4 text-4xl dark:text-textDark">Get In Touch</h1>
        <p class="text-center">
            I am currently looking for new work. Contact me to say hello, talk
            about an opportunity, or ask me a question! My inbox is always open.
        </p>
        <a
            href="mailto:chris@chrisnowicki.io"
            class="mt-8 mb-16 rounded-lg border-2 border-purple-600 px-6 py-2 text-purple-600 hover:bg-purple-600 hover:text-textDark dark:border-purpleDark dark:text-purpleDark dark:hover:bg-purpleDark dark:hover:text-textDark"
            >Say Hello</a
        >
    </div>
</div>
