<div
    id="contact"
    class="mt-16 mb-16 flex w-full flex-col items-center justify-center rounded bg-bgDark py-8 px-16 dark:bg-gray-900"
>
    <div class="flex flex-col items-center text-textDark">
        <h1 class="mb-4 text-4xl">Get In Touch</h1>
        <p class="text-center text-lg">
            I am currently looking for new work. Contact me to say hello, talk
            about an opportunity, or ask me a question! My inbox is always open.
        </p>
        <a
            href="mailto:chris@chrisnowicki.io"
            class="mt-8 rounded-lg border-2 border-purpleDark px-6 py-2 text-purpleDark hover:bg-purpleDark hover:text-textDark dark:border-purpleDark dark:text-purpleDark dark:hover:bg-purpleDark dark:hover:text-textDark"
            >Say Hello</a
        >
    </div>
</div>
