<div class="flex flex-col items-center pb-10">
    <footer
        class="flex flex-col items-center justify-center max-w-3xl w-full relative border-t border-gray-300"
    >
        <a
            href="#home"
            class="-mb-6 -translate-y-4 text-2xl text-purple-600 hover:text-purple-500"
            ><ion-icon name="triangle" />
        </a>
        <!-- social links -->
        <div class="flex flex-row items-center justify-center w-full mt-4">
            <div>
                <a
                    href="http://www.linkedin.com/in/chris-nowicki"
                    class="hover:text-purple-600 dark:hover:text-purpleDark"
                    target="_blank"
                    ><ion-icon name="logo-linkedin" class="text-3xl mr-2" />
                </a>
                <a
                    href="https://github.com/chris-nowicki"
                    class="link-animate hover:text-purple-600 dark:hover:text-purpleDark"
                    target="_blank"
                    ><ion-icon name="logo-github" class="text-3xl mr-2" />
                </a>
                <a
                    href="http://www.twitter.com/iamwix"
                    class="link-animate hover:text-purple-600 dark:hover:text-purpleDark"
                    target="_blank"
                    ><ion-icon name="logo-twitter" class="text-3xl mr-2" />
                </a>
                <a
                    href="http://www.instagram.com/iamwix"
                    class="link-animate hover:text-purple-600 dark:hover:text-purpleDark"
                    target="_blank"
                    ><ion-icon name="logo-instagram" class="text-3xl" />
                </a>
            </div>
        </div>
    </footer>
</div>
