<div class="flex flex-col items-center">
    <footer
        class="relative flex w-full max-w-3xl flex-col items-center justify-center border-t border-gray-300"
    >
        <a
            href="#home"
            class="-mb-6 -translate-y-4 text-2xl text-purple-600 hover:text-purple-500"
            ><ion-icon name="triangle"></ion-icon>
        </a>
        <!-- social links -->
        <div class="mt-4 flex w-full flex-col items-center">
            <div class="flex items-center">
                <a
                    href="http://www.linkedin.com/in/chris-nowicki"
                    class="hover:text-purple-600 dark:hover:text-purpleDark"
                    target="_blank"
                    ><ion-icon name="logo-linkedin" class="text-3xl mr-2"
                    ></ion-icon>
                </a>
                <a
                    href="https://github.com/chris-nowicki"
                    class="link-animate hover:text-purple-600 dark:hover:text-purpleDark"
                    target="_blank"
                    ><ion-icon name="logo-github" class="text-3xl mr-2"
                    ></ion-icon>
                </a>
                <a
                    href="http://www.twitter.com/iamwix"
                    class="link-animate hover:text-purple-600 dark:hover:text-purpleDark"
                    target="_blank"
                    ><ion-icon name="logo-twitter" class="text-3xl mr-2"
                    ></ion-icon>
                </a>
                <a
                    href="http://www.instagram.com/iamwix"
                    class="link-animate hover:text-purple-600 dark:hover:text-purpleDark"
                    target="_blank"
                    ><ion-icon name="logo-instagram" class="text-3xl"
                    ></ion-icon>
                </a>
            </div>
            <div class="link-animate mt-4 flex items-center pb-4 text-xl">
                made with <a
                    href="https://www.astro.build"
                    class="mx-1 text-purple-600 dark:text-purpleDark"
                    target="_blank">Astro</a
                >
                and <a
                    href="https://www.sanity.io"
                    class="ml-1 text-purple-600 dark:text-purpleDark"
                    target="_blank">Sanity CMS</a
                >
            </div>
        </div>
    </footer>
</div>
