<div class="flex w-full flex-row rounded-lg">
    <div
        class="flex max-w-[300px] rounded-md bg-gradient-to-r from-indigo-600 to-purple-600 p-1"
    >
        <img
            src="/images/placeholder.jpg"
            alt="placeholder"
            class="rounded-md"
        />
    </div>
    <div class="ml-2 flex w-full flex-col justify-between px-2">
        <div class="flex flex-col w-full items-end">
            <span class="text-2xl">Pomodoro Timer</span>
            <div class="flex flex-row flex-wrap gap-1 mt-1">
                <span
                    class="inline-flex items-center bg-green-100 px-2.5 py-0.5 text-sm font-medium text-green-800"
                    >Vite</span
                >
                <span
                    class="inline-flex items-center bg-purple-100 px-2.5 py-0.5 text-sm font-medium text-purple-800"
                    >React</span
                >
                <span
                    class="inline-flex items-center bg-blue-100 px-2.5 py-0.5 text-sm font-medium text-blue-800"
                    >Tailwindcss</span
                >
            </div>
            <p class="mt-2 text-gray-500">
                A fun project that tested my react skills and working with time,
                creating custom hooks, and styling. Most difficult part was the
                progress circle.
            </p>
        </div>
        <div class="flex w-full flex-row justify-center gap-2">
            <a
                href="http://www.github.com/chris-nowicki"
                class="flex flex-row items-center justify-center rounded bg-black px-4 py-2 font-mono text-xl text-white outline outline-offset-0 outline-transparent duration-150 ease-in-out hover:outline-1 hover:outline-offset-2 hover:outline-black"
                ><ion-icon name="logo-github" class="px-2" target="_blank"
                ></ion-icon>github</a
            >
            <a
                href="http://www.github.com/chris-nowicki"
                class="flex flex-row items-center justify-center rounded bg-blue-600 px-4 py-2 font-mono text-xl text-white outline outline-offset-0 outline-transparent duration-150 ease-in-out hover:outline-1 hover:outline-offset-2 hover:outline-blue-600"
                ><ion-icon name="logo-github" class="px-2" target="_blank"
                ></ion-icon>github</a
            >
        </div>
    </div>
</div>
