---
import ProjectCardA from './ProjectCardA.astro'
import ProjectCardB from './ProjectCardB.astro'
---

<div class="mt-16 flex w-full flex-col items-center lg:items-center">
    <h1
        id="projects"
        class="mt-1 text-center text-4xl text-purple-600 dark:text-purpleDark"
    >
        Featured Projects
    </h1>
    <p class="px-10 text-center text-lg md:mt-0 md:px-0">
        Take a look at some of my favorite projects that I've worked on below!
    </p>

    <div class="mt-6 flex w-full flex-col lg:items-start">
        <ProjectCardA />
        <ProjectCardB />
        <ProjectCardA />
        <ProjectCardB />
    </div>
    <div class="flex w-full flex-col items-center lg:justify-center">
        <a
            href="#"
            class="rounded-lg border-2 border-purple-600 px-6 py-2 uppercase text-purple-600 hover:bg-purple-600 hover:text-textDark dark:border-purpleDark dark:text-purpleDark dark:hover:bg-purpleDark dark:hover:text-textDark"
            >more projects</a
        >
    </div>
</div>
