<div
    class="relative mb-8 flex w-full flex-row border border-gray-900 p-4 shadow-md outline outline-0 outline-purple-600 ease-in-out hover:outline-2 dark:border-purpleDark dark:shadow-lg dark:shadow-gray-600/25 dark:outline-purpleDark dark:hover:border-transparent dark:hover:outline-2"
>
    <div class="absolute -z-10 mr-2 flex">
        <img src="https://via.placeholder.com/350x216.png" alt="placeholder" />
    </div>
    <div class="flex h-full w-full flex-col items-end justify-evenly">
        <span class="mb-2 text-2xl text-purple-600 dark:text-purpleDark"
            >Pomodoro App</span
        >
        <div
            class="mb-2 flex w-[475px] flex-row items-center rounded bg-gray-900 p-2 text-right text-textDark shadow-md shadow-gray-900/25"
        >
            <p>
                Frontend Mentor Challenge to create a pomodoro app. eating
                custom hooks, and styling.
            </p>
        </div>
        <div
            class="flex h-full w-full max-w-md flex-col items-end justify-between"
        >
            <div class="mt-1 flex flex-row flex-wrap justify-end gap-1">
                <span
                    class="inline-flex items-center bg-green-100 px-2.5 py-0.5 text-sm font-medium text-green-800"
                    >Nextjs</span
                >
                <span
                    class="inline-flex items-center bg-purple-100 px-2.5 py-0.5 text-sm font-medium text-purple-800"
                    >React</span
                >
                <span
                    class="inline-flex items-center bg-blue-100 px-2.5 py-0.5 text-sm font-medium text-blue-800"
                    >PostCSS</span
                >
            </div>
            <div
                class="relative mt-10 flex w-full flex-row items-center justify-end gap-2 text-4xl"
            >
                <a
                    href="http://www.github.com/chris-nowicki"
                    class="flex items-center hover:text-purple-600 dark:hover:text-purpleDark"
                    ><ion-icon name="logo-github"></ion-icon>
                </a>
                <a
                    href="http://www.github.com/chris-nowicki"
                    class="flex items-center hover:text-purple-600 dark:hover:text-purpleDark"
                    ><ion-icon name="open-outline"></ion-icon>
                </a>
            </div>
        </div>
    </div>
</div>
