<div
    class="mx-24 mb-8 flex flex-row flex-wrap border border-gray-900 p-4 shadow-md outline outline-0 outline-purple-600 ease-in-out hover:outline-2 dark:border-purpleDark dark:shadow-lg dark:shadow-gray-600/25 dark:outline-purpleDark dark:hover:border-transparent dark:hover:outline-2 md:relative md:mx-0 md:w-full md:p-4"
>
    <div
        class="mr-2 w-full sm:flex sm:justify-center md:absolute md:-z-10 md:justify-start"
    >
        <img src="/images/test.png" alt="placeholder" />
    </div>
    <div class="mt-6 flex flex-col items-center sm:w-full md:mt-0 md:items-end">
        <a
            href="https://github.com/chris-nowicki"
            class="mb-2 text-2xl hover:text-purple-600 dark:text-textDark dark:hover:text-purpleDark"
        >
            Pomodoro App
        </a>
        <div
            class="mb-2 flex flex-row items-center rounded bg-gray-300 p-2 text-center text-bgDark shadow-md shadow-gray-900/25 md:w-[475px] md:text-right"
        >
            <p>
                Frontend Mentor Challenge to create a pomodoro app. eating
                custom hooks, and styling.
            </p>
        </div>
        <div
            class="flex h-full w-full max-w-md flex-col items-center justify-between md:items-end"
        >
            <div class="mt-1 flex flex-row flex-wrap gap-1 md:justify-end">
                <span
                    class="inline-flex items-center bg-green-100 px-2.5 py-0.5 text-sm font-medium text-green-800"
                    >Nextjs</span
                >
                <span
                    class="inline-flex items-center bg-purple-100 px-2.5 py-0.5 text-sm font-medium text-purple-800"
                    >React</span
                >
                <span
                    class="inline-flex items-center bg-blue-100 px-2.5 py-0.5 text-sm font-medium text-blue-800"
                    >PostCSS</span
                >
            </div>
            <div
                class="relative mt-10 flex w-full flex-row items-center justify-center gap-2 text-4xl md:justify-end"
            >
                <a
                    href="http://www.github.com/chris-nowicki"
                    class="flex items-center hover:text-purple-600 dark:hover:text-purpleDark"
                    ><ion-icon name="logo-github"></ion-icon>
                </a>
                <a
                    href="http://www.github.com/chris-nowicki"
                    class="flex items-center hover:text-purple-600 dark:hover:text-purpleDark"
                    ><ion-icon name="open-outline"></ion-icon>
                </a>
                <a
                    href="#"
                    class="rounded border border-purple-600 px-4 py-2 text-sm text-purple-600 hover:bg-purple-600 hover:text-textDark dark:border-purpleDark dark:text-purpleDark dark:hover:bg-purpleDark dark:hover:text-textDark"
                >
                    READ MORE
                </a>
            </div>
        </div>
    </div>
</div>
