<div
    class="w-[375px] max-h-[500px] bg-gradient-to-r from-indigo-600 to-purple-600 p-2 rounded-lg mb-4 "
>
    <div class="bg-white rounded-lg">
        <img
            src="/images/placeholder.jpg"
            alt="placeholder"
            class="rounded-t-lg"
        />
        <h1 class="text-black pl-2 mt-3">PROJECT TITLE</h1>
        <div class="flex flex-row justify-start ml-1">
            <p class="text-blue-600 mx-1 text-sm">React</p>
            <p class="text-blue-600 mx-1 text-sm">Astro</p>
            <p class="text-blue-600 mx-1 text-sm">Express</p>
        </div>
        <p class="text-black pl-2 mt-2 mr-2 max-w-full">
            Brief project description will go here on what the project actually
            does and now it is wrapping. This is exciting!
        </p>
        <div
            class="flex flex-row justify-end text-black mt-6 mr-2 pb-2 text-xl"
        >
            <a href="#" target="_blank" class="hover:text-purple-600"
                ><ion-icon name="logo-github" class="text-4xl mx-1" />
            </a>
            <a href="#" target="_blank" class="hover:text-purple-600"
                ><ion-icon name="open-outline" class="text-4xl mx-1" />
            </a>
        </div>
    </div>
</div>