---
import { client } from '../js/client'
import { tech as query } from '../ts/queries'

interface Technologies {
    name: string
    link?: string
    show: boolean
}

// fetch technologies from sanity.io
const tech: Technologies[] = await client.fetch(query)

// sort technologies in alphebetical order
tech.sort((a, b) => {
    if (a.name < b.name) {
        return -1
    }
    if (a.name > b.name) {
        return 1
    }
    return 0
})
---

<div
    class="my-16 flex w-full flex-col items-center rounded bg-bgDark p-8 shadow-lg shadow-bgDark/50 dark:bg-gray-900 dark:shadow-gray-900/50"
>
    <h1 class="mb-3 text-4xl text-purpleDark">Tech Stack</h1>
    <ul
        class="link-animate flex w-full flex-col flex-wrap items-center text-base text-textDark sm:max-h-64 md:max-h-48"
    >
        {
            tech.map(
                (tech) =>
                    tech.show && (
                        <li class="py-1 text-xl">
                            {tech.link ? (
                                <a
                                    href={tech.link}
                                    target="_blank"
                                    class="text-textDark hover:text-purpleDark"
                                >
                                    {tech.name}
                                </a>
                            ) : (
                                tech.name
                            )}
                        </li>
                    )
            )
        }
    </ul>
</div>
