---
import ProjectLayout from '../../layouts/ProjectLayout.astro'
import { toHTML } from '@portabletext/to-html'
import { client } from '../../js/client'
import { urlFor } from '../../util/imageBuilder'
import imageUrlBuilder from '@sanity/image-url'
const builder = imageUrlBuilder(client)

const { slug } = Astro.params

// fetch technologies from sanity
const query = `*[_type == "projects" && slug.current == "${slug}"]`
const response = await client.fetch(query).catch((e) => console.log(e))
const project = response[0]

const myTextComponents = {
    types: {
        image: ({ value }) =>
            `<img src="${urlFor(value)}" class="shadow shadow-black/25"/>`,
    },
}
---

<ProjectLayout title={`Project: ${project.projectName}`}>
    <main class="flex flex-col justify-center md:px-10 lg:px-0">
        <div
            class="mx-auto mb-10 flex max-w-3xl flex-col"
            set:html={toHTML(project.projectDetails, {
                components: myTextComponents,
            })}
        />
    </main>
</ProjectLayout>
