---
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.css'

export interface Props {
    title?: string
}

const { title = 'Chris Nowicki' } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
            rel="stylesheet"
        />

        <title>{title}</title>
    </head>
    <body
        class="bg-gray-50 duration-200 ease-in-out dark:bg-bgDark dark:text-textDark"
    >
        <Nav />
        <div>
            <slot />
        </div>
        <Footer />

        <!-- js for theme check on page load and ionicons -->
        <script src="../js/theme.js"></script>
        <script
            type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
        ></script>
    </body>
</html>
